:root {
  --bg-colour: #1d1f27;
  --font-colour: #c9d1d9;
  --accent-colour: #8cc2dd;
  --success: #4bb543;
  --error: #ff3333;
}

body,
html {
  min-height: 100%;
}

body {
  background-color: var(--bg-colour);
  color: var(--font-colour);
  font-family: "Verdana";
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}

header {
  margin-bottom: 50px;
}

article {
  padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding-left: 0;
}

ul {
  padding-left: 15px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

form input {
  display: block;
  margin-bottom: 15px;
}

a {
  color: var(--accent-colour);
}

button {
  font-family: inherit;
}

hr {
  border: 1px dashed #fff;
  margin: 20px 0;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 13px;
  padding-left: 0px;
  margin-block-start: 0px;
}

.tags label {
  cursor: pointer;
  padding: 2px 5px;
  border: 1px solid var(--accent-colour);
  color: var(--accent-colour);
  border-radius: 20px;
  text-align: center;
}

.tags input {
  display: none;
}

label:has(input:checked) {
  background-color: var(--accent-colour);
  color: var(--bg-colour);
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  max-width: 500px;
  height: auto;
  padding: 0;
  margin: 0;
}

figure figcaption {
  font-weight: 400;
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}
